@charset "UTF-8";
@import "../fonts/fonts.css";
body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

input:focus, textarea:focus {
  outline: none;
}

.container {
  width: 1250px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Roboto", "Playfair Display", sans-serif;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading h2 {
  font-family: "Roboto", "Playfair Display", sans-serif;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}
.heading .more-link a {
  color: #B3383B;
  font-weight: 500;
  font-size: 18px;
}

.btn {
  background: #B3383B;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  padding: 12px 0;
  display: inline-block;
}

/* Top Header */
.top-header {
  background: #262E38;
  padding: 12px 0;
}
.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.top-header-menu ul li {
  list-style: none;
  font-size: 14px;
  line-height: 17px;
}
.top-header-menu ul li a {
  color: #ffffff;
}
.top-header-menu ul li:not(:last-child) {
  margin-right: 20px;
}
.top-header-phone ul {
  margin: 0;
  padding: 0;
}
.top-header-phone ul li {
  list-style: none;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  padding-left: 24px;
}
.top-header-phone ul li a {
  color: #ffffff;
}
.top-header-phone ul li:before {
  content: "";
  width: 14px;
  height: 20px;
  background: url(../img/smartphone.png) no-repeat center center;
  left: 0;
  top: 50%;
  margin-top: -7px;
  position: absolute;
}

/* Bottom Header */
.bottom-header {
  padding: 30px 0;
}
.bottom-header .container {
  display: flex;
  align-items: center;
}
.bottom-header .logo {
  flex-basis: 312px;
}
.bottom-header .logo img {
  height: auto;
}
.bottom-header-search {
  flex-basis: 550px;
}
.bottom-header-search form {
  display: flex;
}
.bottom-header-search input {
  width: calc(100% - 70px);
  height: 40px;
  background: #F0F0F0;
  font-size: 14px;
  color: #262E38;
  border: none;
  padding: 0 15px;
  box-sizing: border-box;
}
.bottom-header-search input::-moz-placeholder {
  color: rgba(61, 61, 61, 0.5);
  opacity: 1;
}
.bottom-header-search input::-webkit-input-placeholder {
  color: rgba(61, 61, 61, 0.5);
  opacity: 1;
}
.bottom-header-search button {
  width: 70px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #38B3B0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}
.bottom-header-search button:hover {
  cursor: pointer;
}
.bottom-header-cart {
  flex-basis: 358px;
  text-align: right;
}
.bottom-header-cart-container {
  display: inline-block;
  text-align: left;
  padding-left: 47px;
  position: relative;
}
.bottom-header-cart-container:before {
  content: "";
  width: 42px;
  height: 42px;
  background: url(../img/shopping-cart.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -21px;
}
.bottom-header-cart p {
  font-size: 14px;
  line-height: 16px;
  color: #262E38;
  margin: 0;
}
.bottom-header-cart strong {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.bottom-header-cart span {
  font-size: 10px;
  color: #ffffff;
  background: #B3383B;
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #ffffff;
  left: -4px;
  top: -11px;
}

/* Cat Nav */
.cat-nav-container {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  padding: 18px 30px;
}
.cat-nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cat-nav ul li {
  list-style: none;
}
.cat-nav ul li a {
  color: #262E38;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.cat-nav ul li:not(:last-child) {
  margin-right: 28px;
}
.cat-nav ul li:not(:last-child) a span {
  margin-left: 7px;
}
.cat-nav ul li:last-child a {
  color: #B3383B;
}
.cat-nav ul li:last-child a span {
  margin-right: 15px;
}

/* Items */
.items.popular-items {
  padding: 150px 0 0;
}
.items-card {
  flex-basis: calc(25% - 24px);
  border: 1px solid #EEEEEE;
  padding: 50px 30px 15px;
  box-sizing: border-box;
  position: relative;
}
.items-card-info {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 700;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  width: 100px;
  padding: 8px 0;
}
.items-card.new .items-card-info {
  background: #38B3B0;
  font-size: 14px;
}
.items-card.sale .items-card-info {
  background: #B3383B;
  font-size: 14px;
}
.items-card.last .items-card-info {
  background: #F2B705;
  font-size: 11px;
}
.items-card.sale .items-card-price p, .items-card.last .items-card-price p {
  color: #B3383B;
}
.items-card.sale .items-card-price p strike, .items-card.last .items-card-price p strike {
  color: #999999;
  font-size: 14px;
  margin-left: 15px;
}
.items-card-img {
  text-align: center;
}
.items-card-img img {
  max-width: 100%;
  height: auto;
}
.items-card h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 30px 0 0;
  color: #262E38;
}
.items-card-cat {
  margin-top: 6px;
  color: #999999;
  font-size: 11px;
  line-height: 13px;
}
.items-card-price p {
  font-size: 16px;
  color: #262E38;
  line-height: 19px;
  margin: 9px 0 0;
}
.items-card-size p {
  color: #262E38;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}
.items-card-size-container {
  display: flex;
  column-gap: 37px;
  margin-top: 8px;
}
.items-card-size-column:not(:last-child) {
  position: relative;
}
.items-card-size-column:not(:last-child):after {
  content: "×";
  color: #262E38;
  font-size: 12px;
  position: absolute;
  right: -19px;
  top: 50%;
}
.items-card-size-column span {
  color: #999999;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 11px;
}
.items-card-size-column p {
  font-size: 9px;
  line-height: 11px;
  color: #262E38;
  margin: 8px 0 0;
}
.items-card-addToCart {
  margin-top: 17px;
}
.items-card-addToCart a {
  width: 100%;
}
.items-card-hidden {
  z-index: 2;
  display: none;
  position: absolute;
  background: #ffffff;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #EEEEEE;
  border-top: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0 30px 15px;
}
.items-card.active {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}
.items-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-top: 50px;
  row-gap: 50px;
}

/*# sourceMappingURL=style.css.map */
